<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {% for link in site.nav-links %}
          {% if link[1] == "hasSubtypes" %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{ link[0] }}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% for sublink in link[2] %}
                <li>
                  {% if sublink[1] == "isRedirect" %}
                    <a href="{{ sublink[2] }}">{{ sublink[0] }}</a>
                  {% else %}
                    <a href="{{ site.baseurl }}/{{ sublink[1] }}">{{ sublink[0] }}</a>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li>
              <a href="{{ site.baseurl }}/{{ link[1] }}">{{ link[0] }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
