<h2>Social Media</h2>
<a href="https://github.com/Lomeli12" class="btn btn-social-icon btn-github"><span class="fa fa-github"></span></a>
<a href="https://twitter.com/Lomeli12_" class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></a>
<a href="https://reddit.com/u/Lomeli12" class="btn btn-social-icon btn-reddit"><span class="fa fa-reddit"></span></a>
<a href="http://youtube.com/user/AntLomeli" class="btn btn-social-icon btn-youtube"><span class="fa fa-youtube"></span></a>
<a href="https://twitch.tv/Lomeli12" class="btn btn-social-icon btn-twitch"><span class="fa fa-twitch"></span></a>
<a href="http://steamcommunity.com/id/Lomeli12/" class="btn btn-social-icon btn-github"><span class="fa fa-steam"></span></a>
<p><a href="https://player.me/lomeli" target="_blank">Player.me</a></p>
<p><a href="http://minecraft.curseforge.com/members/Lomeli12/projects" target="_blank">CurseForge Projects Page</a></p>
<p><a href="https://www.patreon.com/lomeli12" target="_blank">Patreon</a></p>
<a class="twitter-timeline"  href="https://twitter.com/Lomeli12_" data-widget-id="555979078587531266">Tweets by @Lomeli12_</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<h2>DogeCoins Please</h2>
<center><a class="btn btn-success" onclick="toggle_visibility('dogeCoinQr');"><span class="fa fa-qrcode"></span> Show QR Code</a>
<img src="{{ site.baseurl }}/data/uploads/qrdoge.png" id="dogeCoinQr" style="display:none;" class="gs_image" height="74" width="74" alt=""><br />
DPtzufPJCZFuFEsbakC8shHvm9XHszscES</center>
<!--Ad
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<!-- SideBarAd
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-5722129317952908"
     data-ad-slot="7364265271"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>-->
