<div>
    <a href="https://github.com/Lomeli12" class="social-btn fab fa-github-alt" target="_blank"></a>
    <a href="https://www.instagram.com/lomeli12_" class="social-btn fab fa-instagram" target="_blank"></a>
    <a rel="me" href="https://tech.lgbt/@Lomeli" class="social-btn fab fa-mastodon" target="_blank"></a>
    <a href="https://antlomeli.tumblr.com/" class="social-btn fab fa-tumblr" target="_blank"></a>
    <a href="https://youtube.com/AntLomeli" class="social-btn fab fa-youtube" target="_blank"></a>
    <a href="https://www.twitch.tv/lomeli12" class="social-btn fab fa-twitch" target="_blank"></a>
    <a href="https://www.patreon.com/Lomeli12"class="social-btn fab fa-patreon" target="_blank"></a>
    <a href="https://keybase.io/lomeli12"class="social-btn fab fa-keybase" target="_blank"></a>
    <a href="https://twitter.com/Lomeli12_" class="social-btn fab fa-twitter" target="_blank"></a>
</div>
